<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<h3>Update Movie:</h3>

<form action="updatemovie" method="post">
<label>Movie Name</label>
<input type="text" name="moviename">
<br><br>
<label>Movie Link</label>
<input type="text" name="movielink">
<br><br>
<label>Movie Genre</label>
<select name="moviegenre"> 
     <option value="SciFi">SciFi</option>
     <option value="Horror">Horror</option>
     <option value="Romance">Romance</option>
     <option value="Action">Action</option>
     <option value="Comedy">Comedy</option>
</select>
<br><br>
<label>Movie Cast</label>
<input type="text" name="moviecast">
<br><br>
<label>Movie Director</label>
<input type="text" name="moviedirector">
<br><br>

<input type="submit" value="update">

</form>

</body>
</html>